/* styles.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: #f;
    padding: 20px;
    text-align: center;
}

/* Main section styles */
main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li:not(p) {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
